
*{
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
background-color: #f8f8f8;
margin: 0 auto;
}
/* CSS for screens larger than 1366x768 */
@media screen and (min-width: 1500px) {
    body {
      max-width: 1500px;
      margin: 0 auto; /* Center the content horizontally */
    }
  }