
.reg-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.reg-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    background: #fff;
    padding: 25px;
    border-radius: 5px;
    max-width: 700px;
    width: 100%;
    box-shadow: 0 0 15px #b9b9b9;
}

.inputBox{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.inputBox input{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.25);
    background: #D9D9D9;
    border-radius: 5px;
    outline: none;
    color: #1d2b3a;
    font-size: 1em;
}

.inputBox span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    transition: 0.2s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span
{
    background: #282828;
    color: #fff;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.85em;
    padding: 1px 10px;
    border-radius: 2px;
}

.inputBox input:valid,
.inputBox input:focus
{
    border: 1px solid #282828;
}


.submit-btn{
    height: 55px;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    color: #fff;
    background-color: #282828;
    border-radius: 10px;
    text-transform: uppercase;
    transition: all 0.2s ease;
    margin-top: 30px;
}

.submit-btn:hover{
    background-color: #000000;
    cursor: pointer;
}

.style-links:visited{
    color: #0000EE;
}