.header{
    display: flex;
    flex-direction: column;
}
.primaryNav{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: #F0F0F0;
}

.navLogo{
    display:flex;
    flex-direction: row;
}

.navLogo .Logo{
    margin: 5px 15px;
    width: 60px;
}
.navLogo .Name{
    width: 190px;
}

.primaryNav .navSearch{
    display: flex;
    flex-wrap: nowrap;
    /* align-items: center; */
    flex-grow: 0.5;
    background-color: #fff;
}

.navSearch input{
    width: 100%;
    border: none;
}

.navSearch button{
    background:none;
    border: none;
    cursor: pointer;
}

.navSearch button:hover{
    background-color: #d7d7d7;
    filter: invert(1);
    transition:0.25s;
}

.primaryNav .navUser{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 0.2;
}
.navUser img{
    width: 45px;
}

.secondaryNav{
    background-color: #282828;
}

.secondaryNav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.secondaryNav ul li a{
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 1.05rem;
    text-decoration: none;
}

.desktop-hidden{
    display: none;
}

/* for Mobile */
@media(max-width:35em){
    .mobile-hidden{
        display: none;
    }
    .secondaryNav{
        position: fixed;
        inset:0 0 0 30%;
        background-color: #282828;
    }
    .secondaryNav ul{
        flex-direction: column;
    }
}